* {

	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html, body{

	height: 100%;
}

body{

	font-family: 'Courier New', Courier, monospace;
	background: #ff7e70;
	color: #0f0f0f;
	overflow-x: hidden;
}

.nav{

	position: fixed;
	top: 2rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	background: rgba(255, 250, 242, 0.85);
	padding: 1rem;
	backdrop-filter: blur(10px);
	border-radius: 20px;
}

.nav button{

	background: none;
	border: none;
	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.3s ease;
	color:#ff7e70;
	font-weight: bold;
}

.nav button:hover{

	background: #ff7e70;
	color: white;
	transform: scale(1.1);
}

.hero{

	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: linear-gradient(270deg, #ff7e70, #ff988c, #ffaea5);
	position: relative;
}

.hero-content{

	background: #fffaf2d9;
	padding: 3rem;
	border-radius: 20px;
	box-shadow: 0 20px 40px rgba(25,25,25,0.15);
	backdrop-filter: blur(10px);
	transform: translateY(0);
	transition: all 0.6s ease-in-out;
	max-width: 500px;
	margin: 0 2rem;
	text-align: center;
}

.hero-content:hover{

	transform: translateY(-10px);
	box-shadow: 0 30px 60px rgba(25,25,25,0.15);
}

.hero h1{

	font-size: 2rem;
	color: #ff7e70;
	margin-bottom: 1rem;
}

.album{

	height: 100vh;
	padding: 4rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(270deg, #ff7e70, #ff988c, #ffaea5);
}

.slide-container{

	position: relative;
	width: 500px;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0 20px 40px rgba(25, 25, 25, 0.2);
	display: flex;
	flex-direction: column;
	text-align: center;
	background: fffaf2d9;
	transition: all 0.6s ease-in-out;
	backdrop-filter: blur(10px);
}

.slide-track{

	display: flex;
	width: max-content;
	transition: transform 0.5s ease-in-out;
	height: 650px;
	overflow: hidden;
}
.slide-track img{

	width: 500px;
	height: 650px;
	object-fit: cover;
	flex-shrink: 0;
}

.legenda{

	margin: 0;
	padding: 0.8rem 1.2rem;
	font-size: 1.1rem;
	text-align: center;
	background-color: rgba(255, 250, 242, 0.85);
	border-radius: 0 0 15px 15px;
	box-shadow: none;
	width: 100%;
	box-sizing: border-box;
}

.slide-container:hover{

	transform: translateY(-10px);
	box-shadow: 0 30px 60px rgba(25,25,25,0.15);
}

.soundtrack{

	background: linear-gradient(270deg, #ff7e70, #ff988c, #ffaea5);
	padding: 4rem 2rem;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: visible;
}

.soundtrack-content{

	display: flex;
	align-items: center;
	gap: 10rem;
	max-width: 1200px;
	width: 100%;
	overflow: visible;
}

.playlist-text{

	background: #fffaf2d9;
	border-radius: 20px;
	text-align: center;
	font-size: large;
	padding: 2rem;
	flex: 1;
	max-width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 15px 30px rgba(25,25,25,0.15);
    backdrop-filter: blur(10px);
    transition: all 0.6s ease-in-out;
}

.playlist-text:hover{

	transform: translateY(-10px);
	box-shadow: 0 25px 50px rgba(25,25,25,0.15);
}

.playlist-container{

	backdrop-filter: blur(10px);
	transition: all 0.6s ease-in-out;
	flex: 1;
	max-width: 500px;
	box-shadow: 0 20px 40px rgba(25,25,25,0.15);
    border-radius: 12px;
}

.playlist-container:hover{

	transform: translateY(-10px);
	box-shadow: 0 30px 60px rgba(25,25,25,0.15);
}

.playlist-container iframe{

	width: 100% !important;
	height: 352px;
	border-radius: 12px;
}

.message{

	background: linear-gradient(270deg, #ff7e70, #ff988c, #ffaea5);
	height: 100vh;
	padding: 4rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.message-button{

	background:#fffaf2d9;
	color: #ff7e70;
	font-weight: bold;
	border: none;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	border-radius: 50px;
	box-shadow: 0 10px 30px rgba(25, 25, 25, 0.4);
	cursor: pointer;
	transition: all 0.6s ease-in-out;
	backdrop-filter: blur(10px);
	margin: 1rem;
	position: relative;
	overflow: hidden;
}

.message-button:hover{

	transform: translateY(-10px);
	box-shadow: 0 10px 30px rgba(25, 25, 25, 0.4);
}